## Code Comments

A comment is a note made by a programmer in the source code of a program. Its purpose is to clarify the source code and make it easier for people to follow along with what is happening. Anything in a comment is generally ignored when the code is actually run, making comments useful for including explanations and reasoning as well as removing specific lines of code that you may be unsure about. Comments in Python are created by using the pound symbol (`# Insert Text Here`). Including a `#` in a line of code will comment out anything that follows it.

In [48]:
# This is a comment
# These lines of code will not change any values
# Anything following the first # is not run as code

You may hear text enclosed in triple quotes (`""" Insert Text Here """`) referred to as multi-line comments, but this is not entirely accurate. This is a special type of `string` (a data type we will cover), called a `docstring`, used to explain the purpose of a function.

In [49]:
""" This is a special string """

' This is a special string '

Make sure you read the comments within each code cell (if they are there). They will provide more real-time explanations of what is going on as you look at each line of code.

## Python objects, basic types, and variables

Everything in Python is an **object** and every object in Python has a **type**. Some of the basic types include:

- **`int`** (integer; a whole number with no decimal place)
  - `10`
  - `-3`
- **`float`** (float; a number that has a decimal place)
  - `7.41`
  - `-0.006`
- **`str`** (string; a sequence of characters enclosed in single quotes, double quotes, or triple quotes)
  - `'this is a string using single quotes'`
  - `"this is a string using double quotes"`
  - `'''this is a triple quoted string using single quotes'''`
  - `"""this is a triple quoted string using double quotes"""`
- **`bool`** (boolean; a binary value that is either true or false)
  - `True`
  - `False`
- **`NoneType`** (a special type representing the absence of a value)
  - `None`

In Python, a **variable** is a name you specify in your code that maps to a particular **object**, object **instance**, or value.

By defining variables, we can refer to things by names that make sense to us. Names for variables can only contain letters, underscores (`_`), or numbers (no spaces, dashes, or other characters). Variable names must start with a letter or underscore.

<hr>

## Basic operators

In Python, there are different types of **operators** (special symbols) that operate on different values. Some of the basic operators include:

- arithmetic operators
  - **`+`** (addition)
  - **`-`** (subtraction)
  - **`*`** (multiplication)
  - **`/`** (division)
  - __`**`__ (exponent)
- assignment operators
  - **`=`** (assign a value)
  - **`+=`** (add and re-assign; increment)
  - **`-=`** (subtract and re-assign; decrement)
  - **`*=`** (multiply and re-assign)
- comparison operators (return either `True` or `False`)
  - **`==`** (equal to)
  - **`!=`** (not equal to)
  - **`<`** (less than)
  - **`<=`** (less than or equal to)
  - **`>`** (greater than)
  - **`>=`** (greater than or equal to)

When multiple operators are used in a single expression, **operator precedence** determines which parts of the expression are evaluated in which order. Operators with higher precedence are evaluated first (like PEMDAS in math). Operators with the same precedence are evaluated from left to right.

- `()` parentheses, for grouping
- `**` exponent
- `*`, `/` multiplication and division
- `+`, `-` addition and subtraction
- `==`, `!=`, `<`, `<=`, `>`, `>=` comparisons

> See https://docs.python.org/3/reference/expressions.html#operator-precedence

In [50]:
# Assigning some numbers to different variables
num_1 = 10
num_2 = -3
num_3 = 7.41
num_4 = -.6
num_5 = 7
num_6 = 3
num_7 = 11.11

In [51]:
# Addition
num_1 + num_2

7

In [52]:
# Subtraction
num_2 - num_3

-10.41

In [53]:
# Multiplication
num_3 * num_4

-4.446

In [54]:
# Division
num_4 / num_5

-0.08571428571428572

In [55]:
# Exponent
num_5**num_6

343

In [56]:
# Increment existing variable
num_7 += 4  # num_7 = num_7 + 4
num_7

15.11

In [57]:
# Decrement existing variable
num_6 -= 2
num_6

1

In [58]:
# Multiply & re-assign
num_3 *= 5
num_3

37.05

In [59]:
# Assign the value of an expression to a variable
num_8 = num_1 + num_2 * num_3
num_8

-101.14999999999999

In [60]:
# Are these two expressions equal to each other?
num_1 + num_2 == num_5

True

In [61]:
# Are these two expressions not equal to each other?
num_3 != num_4

True

In [62]:
# Is the first expression less than the second expression?
num_5 < num_6

False

In [63]:
# Is this expression True?
5 > 3 > 1

True

In [64]:
# Is this expression True?
5 > 3 < 4 == 3 + 1

True

In [65]:
# Assign some strings to different variables
simple_string_1 = 'an example'
simple_string_2 = "oranges "

In [66]:
# Addition
simple_string_1 + ' of using the + operator'

'an example of using the + operator'

In [67]:
# Notice that the string was not modified
simple_string_1

'an example'

In [68]:
# Multiplication
simple_string_2 * 4

'oranges oranges oranges oranges '

In [69]:
# This string wasn't modified either
simple_string_2

'oranges '

In [70]:
# Are these two expressions equal to each other?
simple_string_1 == simple_string_2

False

In [71]:
# Are these two expressions equal to each other?
simple_string_1 == 'an example'

True

In [72]:
# Add and re-assign
simple_string_1 += ' that re-assigned the original string'
simple_string_1

'an example that re-assigned the original string'

In [73]:
# Multiply and re-assign
simple_string_2 *= 3
simple_string_2

'oranges oranges oranges '

In [74]:
# Note: Subtraction, division, and decrement operators do not apply to strings.

## Basic data structures

> Note: **mutable** objects can be modified after creation and **immutable** objects cannot.

Containers are objects that can be used to group other objects together. The basic container types include:

- **`str`** (string: immutable; indexed by integers; items are stored in the order they were added)
- **`list`** (list: mutable; indexed by integers; items are stored in the order they were added)
  - `[3, 5, 6, 3, 'dog', 'cat', False]`
- **`tuple`** (tuple: immutable; indexed by integers; items are stored in the order they were added)
  - `(3, 5, 6, 3, 'dog', 'cat', False)`
- **`set`** (set: mutable; not indexed at all; items are NOT stored in the order they were added; can only contain immutable objects; does NOT contain duplicate objects)
  - `{3, 5, 6, 3, 'dog', 'cat', False}`
- **`dict`** (dictionary: mutable; key-value pairs are indexed by immutable keys; items are NOT stored in the order they were added)
  - `{'name': 'Jane', 'age': 23, 'fav_foods': ['pizza', 'fruit', 'fish']}`

When defining lists, tuples, or sets, use commas (,) to separate the individual items. When defining dicts, use a colon (:) to separate keys from values and commas (,) to separate the key-value pairs.

Strings, lists, and tuples are all **sequence types** that can use the `+`, `*`, `+=`, and `*=` operators.

In [75]:
# Assign some containers to different variables
list_1 = [3, 5, 6, 3, 'dog', 'cat', False]
tuple_1 = (3, 5, 6, 3, 'dog', 'cat', False)
set_1 = {3, 5, 6, 3, 'dog', 'cat', False}
set_2 = set(("jane", "jaya", "jukes", "jason", "john"))
dict_1 = {'name': 'Jane', 'age': 23, 'fav_foods': ['pizza', 'fruit', 'fish']}
dict_2 = {'name': 'Javier', 'age': 45, 'fav_foods': ['chicken', 'veg', 'candy']}

In [76]:
# Items in the list object are stored in the order they were added
list_1

[3, 5, 6, 3, 'dog', 'cat', False]

In [77]:
# Items in the tuple object are stored in the order they were added
tuple_1

(3, 5, 6, 3, 'dog', 'cat', False)

In [78]:
# Items in the set object are not stored in the order they were added
# Also, notice that the value 3 only appears once in this set object
set_1

{3, 5, 6, False, 'cat', 'dog'}

In [79]:
# Items in the dict object are not stored in the order they were added
dict_1

{'name': 'Jane', 'age': 23, 'fav_foods': ['pizza', 'fruit', 'fish']}

In [80]:
# Add and re-assign
list_1 += [5, 'grapes']
list_1

[3, 5, 6, 3, 'dog', 'cat', False, 5, 'grapes']

In [81]:
# Add and re-assign
tuple_1 += (5, 'grapes')
tuple_1

(3, 5, 6, 3, 'dog', 'cat', False, 5, 'grapes')

In [82]:
# Multiply
[1, 2, 3, 4] * 2

[1, 2, 3, 4, 1, 2, 3, 4]

In [83]:
# Multiply
(1, 2, 3, 4) * 3

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

In [84]:
a = [1,2,3]
b = [4,5,6]

## Accessing data in containers

For strings, lists, tuples, and dicts, we can use **subscript notation** (square brackets) to access data at an index.

- strings, lists, and tuples are indexed by integers, **starting at 0** for first item
  - these sequence types also support accesing a range of items, known as **slicing**
  - use **negative indexing** to start at the back of the sequence
- dicts are indexed by their keys

> Note: sets are not indexed, so we cannot use subscript notation to access data elements.

In [85]:
list_1 = [3, 5, 6, 3, 'dog', 'cat', False]
list_1

[3, 5, 6, 3, 'dog', 'cat', False]

In [86]:
# Access the first item in a sequence
list_1[0]

3

In [87]:
tuple_1

(3, 5, 6, 3, 'dog', 'cat', False, 5, 'grapes')

In [88]:
# Access the last item in a sequence
tuple_1[-1]

'grapes'

In [89]:
# Access a range of items in a sequence
simple_string_1

'an example that re-assigned the original string'

In [90]:
simple_string_1[1]

'n'

In [91]:
simple_string_1[:5]

'an ex'

In [92]:
tuple_1 = (3, 5, 6, 3, 'dog', 'cat', False)

In [93]:
# Access a range of items in a sequence
tuple_1[:-3]

(3, 5, 6, 3)

In [94]:
list_1 = [3, 5, 6, 3, 'dog', 'cat', False]

In [95]:
# Access a range of items in a sequence
list_1[4:]

['dog', 'cat', False]

In [96]:
dict_1

{'name': 'Jane', 'age': 23, 'fav_foods': ['pizza', 'fruit', 'fish']}

In [97]:
# Access an item in a dictionary
# {'name': 'Jane', 'age': 23, 'fav_foods': ['pizza', 'fruit', 'fish']}
dict_1["fav_foods"]

['pizza', 'fruit', 'fish']

In [98]:
# Access an element of a sequence in a dictionary
l = dict_1['fav_foods']
pizza = l[0]
pizza

'pizza'

## Python built-in functions and callables

A **function** is a Python object that you can "call" to **perform an action** or compute and **return another object**. You call a function by placing parentheses to the right of the function name. Some functions allow you to pass **arguments** inside the parentheses (separating multiple arguments with a comma). Internal to the function, these arguments are treated like variables.

Python has several useful built-in functions to help you work with different objects and/or your environment. Here is a small sample of them:

- **`type(obj)`** to determine the type of an object
- **`isinstance(val, obj)`** to determine if `val` is an `obj`
- **`len(container)`** to determine how many items are in a container
- **`callable(obj)`** to determine if an object is callable
- **`sorted(container)`** to return a new list from a container, with the items sorted
- **`sum(container)`** to compute the sum of a container of numbers
- **`min(container)`** to determine the smallest item in a container
- **`max(container)`** to determine the largest item in a container
- **`abs(number)`** to determine the absolute value of a number
- **`repr(obj)`** to return a string representation of an object

> Complete list of built-in functions: https://docs.python.org/3/library/functions.html

There are also different ways of defining your own functions and callable objects that we will explore later.

In [99]:
# Use the type() function to determine the type of an object
type(1.0)

float

In [100]:
price = "1.11"
isinstance(price, float)

False

In [101]:
# Use the len() function to determine how many items are in a container
len("jason")

5

In [102]:
# Use the len() function to determine how many items are in a container
len(simple_string_2)

24

In [103]:
# Use the callable() function to determine if an object is callable
callable(len)

True

In [104]:
# Use the callable() function to determine if an object is callable
callable(dict_1)

False

In [105]:
# Use the sorted() function to return a new list from a container, with the items sorted
sorted([10, 1, 3.6, 7, 5, 2, -3])

[-3, 1, 2, 3.6, 5, 7, 10]

In [106]:
# Use the sorted() function to return a new list from a container, with the items sorted
# - notice that capitalized strings come first
sorted(['dogs', 'cats', 'zebras', 'Chicago', 'California', 'ants', 'mice'])

['California', 'Chicago', 'ants', 'cats', 'dogs', 'mice', 'zebras']

In [107]:
# Use the sum() function to compute the sum of a container of numbers
sum([10, 1, 3.6, 7, 5, 2, -3])

25.6

In [108]:
# Use the min() function to determine the smallest item in a container
min([10, 1, 3.6, 7, 5, 2, -3])

-3

In [109]:
# Use the min() function to determine the smallest item in a container
min(['g', 'z', 'a', 'y'])

'a'

In [110]:
# Use the max() function to determine the largest item in a container
max([10, 1, 3.6, 7, 5, 2, -3])

10

In [111]:
# Use the max() function to determine the largest item in a container
max('gibberish')

's'

In [112]:
# Use the abs() function to determine the absolute value of a number
abs(10)

10

In [113]:
# Use the abs() function to determine the absolute value of a number
abs(-12)

12

In [114]:
# Use the repr() function to return a string representation of an object
isinstance(repr(list_1), str)

True

In [115]:
repr(list_1)

"[3, 5, 6, 3, 'dog', 'cat', False]"

## Python object attributes (methods and properties)

Different types of objects in Python have different **attributes** that can be referred to by name (similar to a variable). To access an attribute of an object, use a dot (`.`) after the object, then specify the attribute (i.e. `obj.attribute`)

When an attribute of an object is a callable, that attribute is called a **method**. It is the same as a function, only this function is bound to a particular object.

When an attribute of an object is not a callable, that attribute is called a **property**. It is just a piece of data about the object, that is itself another object.

The built-in `dir()` function can be used to return a list of an object's attributes.

<hr>

## Some methods on string objects

- **`.capitalize()`** to return a capitalized version of the string (only first char uppercase)
- **`.upper()`** to return an uppercase version of the string (all chars uppercase)
- **`.lower()`** to return an lowercase version of the string (all chars lowercase)
- **`.count(substring)`** to return the number of occurences of the substring in the string
- **`.startswith(substring)`** to determine if the string starts with the substring
- **`.endswith(substring)`** to determine if the string ends with the substring
- **`.replace(old, new)`** to return a copy of the string with occurences of the "old" replaced by "new"

In [116]:
# Assign a string to a variable
a_string = 'tHis is a sTriNg'

In [117]:
# Return a capitalized version of the string
a_string.capitalize()

'This is a string'

In [118]:
# Return an uppercase version of the string
a_string.upper()

'THIS IS A STRING'

In [119]:
# Return a lowercase version of the string
a_string.lower()

'this is a string'

In [120]:
# Notice that the methods called have not actually modified the string
a_string

'tHis is a sTriNg'

In [121]:
# Count number of occurences of a substring in the string
a_string.count('i')

3

In [122]:
# Count number of occurences of a substring in the string after a certain position
a_string.count('i', 7)

1

In [123]:
# Count number of occurences of a substring in the string
a_string.count('is')

2

In [124]:
# Does the string start with 'this'?
a_string.startswith('this')

False

In [125]:
# Does the lowercase string start with 'this'?
a_string.lower().startswith('this')

True

In [126]:
# Does the string end with 'Ng'?
a_string.endswith('Ng')

True

In [127]:
# Return a version of the string with a substring replaced with something else
a_string.replace('is', 'XYZ')

'tHXYZ XYZ a sTriNg'

In [128]:
# Return a version of the string with a substring replaced with something else
a_string.replace('i', '!')

'tH!s !s a sTr!Ng'

In [129]:
# Return a version of the string with the first 2 occurences a substring replaced with something else
a_string.replace('i', '!', 2)

'tH!s !s a sTriNg'

## Some methods on list objects

- **`.append(item)`** to add a single item to the list
- **`.extend([item1, item2, ...])`** to add multiple items to the list
- **`.remove(item)`** to remove a single item from the list
- **`.pop()`** to remove and return the item at the end of the list
- **`.pop(index)`** to remove and return an item at an index

In [130]:
list_1

[3, 5, 6, 3, 'dog', 'cat', False]

In [131]:
# append a string to a list
list_1.append("basketball")
list_1

[3, 5, 6, 3, 'dog', 'cat', False, 'basketball']

In [132]:
# Add multiple items to a list
list_1.extend(["baseball", 1])
list_1

[3, 5, 6, 3, 'dog', 'cat', False, 'basketball', 'baseball', 1]

In [133]:
# Remove a sinle item from a list
list_1.remove("cat")
list_1

[3, 5, 6, 3, 'dog', False, 'basketball', 'baseball', 1]

In [134]:
# Remove the last item and return it
list_1.pop()

1

In [135]:
list_1

[3, 5, 6, 3, 'dog', False, 'basketball', 'baseball']

In [136]:
# remove an item at index 0 and return it
list_1.pop(0)

3

## Some methods on set objects

- **`.add(item)`** to add a single item to the set
- **`.update([item1, item2, ...])`** to add multiple items to the set
- **`.update(set_2, set3, ...)`** to add items from all provided sets to the set
- **`.remove(item)`** to remove a single item from the set
- **`.difference(set_2)`** to return items in the set that are not in another set
- **`.intersection(set_2)`** to return items in both sets
- **`.union(set_2)`** to return items that are in either set
- **`.symmetric_difference(set_2)`** to return items that are only in one set (not both)
- **`.issuperset(set_2)`** does the set contain everything in the other set?
- **`.issubset(set_2)`** is the set contained in the other set?

In [137]:
set(["Jason", "jason", "jason"])

{'Jason', 'jason'}

In [138]:
set_1.add("fuzz")
set_1

{3, 5, 6, False, 'cat', 'dog', 'fuzz'}

In [139]:
set_1.update(["coke", "pepsi"])
set_1

{3, 5, 6, False, 'cat', 'coke', 'dog', 'fuzz', 'pepsi'}

In [140]:
set_1.update(set_2)
set_1

{3,
 5,
 6,
 False,
 'cat',
 'coke',
 'dog',
 'fuzz',
 'jane',
 'jason',
 'jaya',
 'john',
 'jukes',
 'pepsi'}

In [141]:
set_1.remove("cat")
set_1

{3,
 5,
 6,
 False,
 'coke',
 'dog',
 'fuzz',
 'jane',
 'jason',
 'jaya',
 'john',
 'jukes',
 'pepsi'}

In [142]:
set_1.difference(set_2)

{3, 5, 6, False, 'coke', 'dog', 'fuzz', 'pepsi'}

In [143]:
set_1.intersection(set_2)

{'jane', 'jason', 'jaya', 'john', 'jukes'}

In [144]:
set_1.union(set_2)

{3,
 5,
 6,
 False,
 'coke',
 'dog',
 'fuzz',
 'jane',
 'jason',
 'jaya',
 'john',
 'jukes',
 'pepsi'}

In [145]:
set_1.issuperset(set_2)

True

In [146]:
set_1.issubset(set_2)

False

## Some methods on dict objects

- **`.update([(key1, val1), (key2, val2), ...])`** to add multiple key-value pairs to the dict
- **`.update(dict_2)`** to add all keys and values from another dict to the dict
- **`.pop(key)`** to remove key and return its value from the dict (error if key not found)
- **`.pop(key, default_val)`** to remove key and return its value from the dict (or return default_val if key not found)
- **`.get(key)`** to return the value at a specified key in the dict (or None if key not found)
- **`.get(key, default_val)`** to return the value at a specified key in the dict (or default_val if key not found)
- **`.keys()`** to return a list of keys in the dict
- **`.values()`** to return a list of values in the dict
- **`.items()`** to return a list of key-value pairs (tuples) in the dict

In [147]:
dict_1

{'name': 'Jane', 'age': 23, 'fav_foods': ['pizza', 'fruit', 'fish']}

In [148]:
dict_1.update(
    [
        ("rain", True),
        ("cars", "a lot")
    ]
)
dict_1

{'name': 'Jane',
 'age': 23,
 'fav_foods': ['pizza', 'fruit', 'fish'],
 'rain': True,
 'cars': 'a lot'}

In [149]:
dict_1.update(dict_2)
dict_1

{'name': 'Javier',
 'age': 45,
 'fav_foods': ['chicken', 'veg', 'candy'],
 'rain': True,
 'cars': 'a lot'}

In [150]:
dict_1

{'name': 'Javier',
 'age': 45,
 'fav_foods': ['chicken', 'veg', 'candy'],
 'rain': True,
 'cars': 'a lot'}

In [151]:
dict_1.pop("age")

45

In [153]:
dict_1.pop("name")

'Javier'

In [154]:
dict_1.pop("age", False)

False

In [156]:
dict_1["age"] = 23

In [157]:
dict_1.get("age", None)

23

In [158]:
dict_1.get("car", "No car found")

'No car found'

In [159]:
dict_1.keys()

dict_keys(['fav_foods', 'rain', 'cars', 'age'])

In [160]:
dict_1.values()

dict_values([['chicken', 'veg', 'candy'], True, 'a lot', 23])

In [161]:
dict_1.items()

dict_items([('fav_foods', ['chicken', 'veg', 'candy']), ('rain', True), ('cars', 'a lot'), ('age', 23)])

In [162]:
for k, v in dict_1.items():
    print(f"{k} => {v}")

fav_foods => ['chicken', 'veg', 'candy']
rain => True
cars => a lot
age => 23

## Positional arguments and keyword arguments to callables

You can call a function/method in a number of different ways:

- `func()`: Call `func` with no arguments
- `func(arg)`: Call `func` with one positional argument
- `func(arg1, arg2)`: Call `func` with two positional arguments
- `func(arg1, arg2, ..., argn)`: Call `func` with many positional arguments
- `func(kwarg=value)`: Call `func` with one keyword argument 
- `func(kwarg1=value1, kwarg2=value2)`: Call `func` with two keyword arguments
- `func(kwarg1=value1, kwarg2=value2, ..., kwargn=valuen)`: Call `func` with many keyword arguments
- `func(arg1, arg2, kwarg1=value1, kwarg2=value2)`: Call `func` with positonal arguments and keyword arguments
- `obj.method()`: Same for `func`.. and every other `func` example

When using **positional arguments**, you must provide them in the order that the function defined them (the function's **signature**).

When using **keyword arguments**, you can provide the arguments you want, in any order you want, as long as you specify each argument's name.

When using positional and keyword arguments, positional arguments must come first.

In [ ]:
def func_1():
    return 1 + 1

In [ ]:
func_1()

In [ ]:
def func_2(x):
    return x**2  # equiv. x^2

func_2(5)

In [ ]:
def func_3(x, y):
    return x / y

func_3(8, 2)

In [ ]:
def func_4(**kwargs):

    for k, v in kwargs.items():
        print(v**2)




func_4(first=1, second=2)

In [ ]:
def func_5(a, b, **kwargs):
    x = kwargs["first"]
    y = kwargs["second"]
    
    return a * b + x * y



func_5(2, 3, first=5, second=6)

## Formatting strings and using placeholders

In [ ]:
# old style
name = "jason"
'Hello, %s' % name

In [ ]:
# new style
'Hello, {}'.format(name)

In [ ]:
# new new style
f"Hello, {name}!"

In [ ]:
a = 5
b = 10
f'Five plus ten is {a + b} and not {2 * (a + b)}.'

In [ ]:
# formatting numbers in strings
pi = 3.1415926535
f"{pi:.2f}"

## Python "for loops"

It is easy to **iterate** over a collection of items using a **for loop**. The strings, lists, tuples, sets, and dictionaries we defined are all **iterable** containers.

The for loop will go through the specified container, one item at a time, and provide a temporary variable for the current item. You can use this temporary variable like a normal variable.

In [ ]:
list_1

for item in list_1:
    print(item)

In [ ]:
for letter in simple_string_1:
    print(letter)

In [ ]:
for item in tuple_1:
    print(item)

In [ ]:
for item in set_1:
    print(item)

In [ ]:
dict_1.items()

In [ ]:
for key, value in dict_1.items():
    print(f"Key:{key} -> Value:{value}")

In [ ]:
dict_1

In [ ]:
for key, value in dict_1.items():
    if isinstance(value, list):
        for item in value:
            print(item)

## Python "if statements" and "while loops"

Conditional expressions can be used with these two **conditional statements**.

The **if statement** allows you to test a condition and perform some actions if the condition evaluates to `True`. You can also provide `elif` and/or `else` clauses to an if statement to take alternative actions if the condition evaluates to `False`.

The **while loop** will keep looping until its conditional expression evaluates to `False`.

> Note: It is possible to "loop forever" when using a while loop with a conditional expression that never evaluates to `False`.
>
> Note: Since the **for loop** will iterate over a container of items until there are no more, there is no need to specify a "stop looping" condition.

In [ ]:
if 1 < 2:
    print("Correct")

In [ ]:
1 < 2

In [ ]:
if (1 < 2) and isinstance("jason", str) and 1 and 12<20:
    print("Correct")

In [ ]:
if 1 > 2:
    print("Incorrect")
elif 1 > 3:
    print("Still incorrect")
else:
    print("Default")

In [ ]:
cnt = 1
while cnt <= 10:
    print(f"Cnt is {cnt}")
    cnt += 1

## List, set, and dict comprehensions

In [ ]:
l = [1, 2, 3, 4, 5]
l

In [ ]:
l*2

In [ ]:
new_list = []
for item in l:
    v = item*2
    new_list.append(v)

In [ ]:
new_list

In [ ]:
new_list = [item * 2 for item in l]

In [ ]:
l = []
for i in "jason":
    l.append(i.upper())
l

In [ ]:
[i.upper() for i in "jason"]

In [ ]:
[i for i in "jason"]

In [ ]:
x = []
for i in [1, 2, 3, 4, 5]:
    x.append(i / 2)
x

In [ ]:
[i / 2 for i in [1, 2, 3, 4, 5]]

In [ ]:
[type(i) for i in list_1]

In [ ]:
{i.upper() for i in "jjjjjason"}

In [ ]:
{i / 2 for i in [1, 2, 3, 4, 5]}

In [ ]:
{type(i) for i in list_1}

In [ ]:
{k: k / 2 for k in [1, 2, 3, 4]}

In [ ]:
{k: v for k, v in [("name", "jason"), ("car", "nope")]}

## Importing modules

In [ ]:
import math

In [ ]:
import math as m

In [ ]:
dir(m)

In [ ]:
math.sqrt(9)

In [ ]:
import math as m

In [ ]:
m.sqrt(9)

In [ ]:
from math import sqrt

In [ ]:
sqrt(9)

## Exceptions

In [ ]:
dict3 = {'name': 'jason', 'car': 'nope'}
dict3["food"]

In [ ]:
2 / 0

In [ ]:
set(1, 2, 3)

In [ ]:
jason

In [ ]:
1 + 2:

In [ ]:
raise Exception("My own exception")

In [ ]:
def fcn(x):
    assert x >= 0, "Nope"
    return x**2

fcn(-1)

In [ ]:
import my_module

In [ ]:
calculate(5, 5)

In [ ]:
math.sqrt(2)

In [ ]:
import math
math.my_func(2)

In [ ]:
"jason".my_func()

## Classes: Creating your own objects

In [ ]:
def this_is_a_function():
    pass

In [ ]:
class JasonStrimpel():
    pass

class ThisIsMyClass():
    pass

In [ ]:
# Define a new class called `Thing` that is derived from the base Python object
class Thing(object):
    my_property = 'I am a "Thing"'


# Define a new class called `DictThing` that is derived from the `dict` type
class DictThing(dict):
    my_property = 'I am a "DictThing"'

In [ ]:

print(issubclass(DictThing, dict))
print(issubclass(DictThing, object))

In [ ]:
# Create "instances" of our new classes
a = Thing()
b = Thing()
c = Thing()

type(c)

c.my_property

In [ ]:
# Interact with a DictThing instance just as you would a normal dictionary

d = DictThing()

In [ ]:
d = {}

In [ ]:
d.update({
    'age': 13,
    'fav_foods': ['pizza', 'sushi', 'pad thai', 'waffles'],
    'fav_color': 'green',
})
print(d)

In [ ]:
print(d.my_property)

## Defining functions and methods

In [ ]:
class Car(object):
    
    color = "red"
    
    def drive(self, how_fast):
        return f"The {self.color} car drives {how_fast} mph."

car_a = Car()

car_b = Car()

In [ ]:
car_a.drive(55)

In [ ]:
car_b.drive(65)

## Creating an initializer method for your classes

In [ ]:
class Car(object):
    
    def __init__(self, color, speed):
        print(f"{color} car goes {speed}")

In [ ]:
a = Car("red", "65")

In [ ]:
class Car(object):
    
    make = "Ford"

    def __init__(self, color):
        self.color = color
        self.color_cap = color.upper()

    def mph_to_kph(self, mph):
        return mph * 1.60934

    def drive(self, how_fast):
        return f"The {self.make} {self.color} car drives {how_fast} mph."
    
    def drive_in_kph(self, how_fast):
        kph = self.mph_to_kph(how_fast)
        return f"The {self.make} {self.color} car drives {kph} kph."

In [ ]:
car_a = Car("red")

In [ ]:
car_a.drive_in_kph(55)

In [ ]:
car_b = Car("blue")
car_b.drive_in_kph(100)